.nav_bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #333;
}
.logo{
  color: azure;
  font-size: 1.5rem;
}
.menu_bar{
  list-style: none;
  display: flex;
  gap:1rem

}
.nav_bar li a{
  color: wheat;
  text-decoration: none;
}